
@{
    ViewData["Title"] = "WebAnaSayfa";
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
}

<h1 style=" text-align:center ">Sitemize Hoş Geldiniz...</h1>
<div>

    <img width="5100" height="5100" src="https://i.hizliresim.com/60h8xzn.jpg" alt="Alternate Text" />
    <h1 style=" text-align:center ">İçecek önerilerimize göz atın...</h1>
</div>

