
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="box1">

                    <h1>Hakkımızda</h1>

                    <h4>
                        İçeceklere ilgi duyan biri misiniz?
                    </h4>

                    <p>
                        Farklı çeşitlerde içeceklerle tanışmak istiyorsanız, farklı kültürlere ait içecekler tatmak istiyorsanız, içecek yapmayı seviyorsanız, misafirlerinizi şaşırtmayı seviyorsanız, farklı tatlar denemeye açıksanız o zaman doğru yerdesiniz. Biz kim miyiz? Biz Türkiyedeki içecek kültürünün gelişmesini isteyen bir grup genciz. Damaklarda farklı lezzetler, aromalar bıraktırmaya geldik. Biraz iddialı olabiliriz ama sitemizi gezdikten sonra anlayacaksınız.
                    </p>
                    <h2>Umut Kalkan</h2>
                </div>
            </div>
        </div>
    </div>
</div>

